body{
    font-family: 'Playfair Display', serif;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.mission{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 2%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(blue,skyblue);
    padding: 10px 40px; 
    color:white;
    font-weight: 700;
    border-radius: 5px;
}
.orange-color{
    color: orange;
}
.mission_head{
    text-align: center;
}
.three_part{
    display: flex;
}

.anything{
   width: 30%;
   background-color:#d1d1d1 ;
   margin: 0px 10px;
}
.anything img{
    width: 60%;
}
.anything h1{
    padding-left: 10px;
}
.anything p{
    width: 400px;
    padding-left: 10px;
}
.some{
    display: flex;
    margin-top: 100px;
}
.limit_head img{
    width:60%;
    padding-left: 20%;
}
.limit_head p{
    width: 400px;
    padding-left: 20%;
    text-align: left;
}
.limit_head h1{
    padding-left: 10%;
}
.develop-without-limits{
    background-image: url(images/shapes/shape-1.png);
    background-size: 15%;
    background-repeat:no-repeat;
    background-position-x:left;
}